body {
    background-color: rgb(218, 218, 218);
    background: linear-gradient(rgb(255,255,255) 0%, rgb(132, 132, 132) 100%);
    margin: 0px;
    min-height: 100vh;
}
nav {
    height: 15vh;
    width: 100vw;
    margin: 0px;
    top: 0;
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    transition: top 0.5s;
}
nav .homelink {
float: left;
margin-left: 5vw;
height: 13vh;
aspect-ratio: 512/449;
background-image: url(/images/Headicon.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
background-color: rgba(255, 255, 255, 0);
transition-duration: 0.7s;
border-radius: 5px;
margin-top: calc(0.5vh - 2px);
margin-bottom: calc(0.5vh - 2px);
/*border-style: solid;
border-width: 2px;
border-color: black;*/
padding: 0.5vh;
}

nav .homelink:hover {
background-color: rgba(0, 0, 0, 0.1);
}

main {
    padding-top: calc(13vh + 120px);
}

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

spacer {
    display: block;
    padding-top: 60px;
}

nav .link {
    float: right;
    margin-right: 5vw;
    height: 13vh;
    line-height: 13vh;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 25px;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 0.7s;
    border-radius: 5px;
    margin-top: calc(0.5vh - 2px);
    margin-bottom: calc(0.5vh - 2px);
    /*border-style: solid;
    border-width: 2px;
    border-color: black;*/
    padding: 0.5vh; 
    display: block;
}
nav .link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}